
.form-add{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-size: 15px;

    position: absolute;
    width: 80%;
    height: 100%;
    left: 15%;
    top: -10%;

    box-sizing: border-box;

    margin: auto;
    margin-top: 10%;
  
    background: linear-gradient(135deg, #ffffff, #ffffff);
    border: 0px;
    border-radius: 8px;
}
div input{
    justify-content: center;
    align-items: center;
    margin: 5px 0px 5px 0px;
    font-size: 15px;

    position: relative;
}
.ipt-name{
    left:10px;
    width: 240px;
}
.ipt-price{
    left:18px;
    width: 240px;
}
.ipt-stock{
    left:15px;
    width: 240px;
}
.ipt-sizes{
    display: flex;
    flex-direction: row;

    width: 305px;
    left: 0px;
}
.ipt-description{
    left:42px;
}
.ipt-categories{
    left:48px
}
.ipt-featuringFrom{
    left:10px
}
.ipt-featuringTo{
    left:33px
}
.add-color{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:5px;
    padding: 4px 5px;
    font-size: 13px;
    background-color: #FFFFFF;
    color:#FF993C ;
    
    font-weight: 700;
    
    line-height: 26px;

    position: relative;
    width: 80px;
    height: 30px;
    left: 79%;
    top:-37px;

    border: 2px solid #FF993C;
    border-radius: 8px;
    cursor: pointer;
}
.add-size{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:5px;
    padding: 4px 5px;
    font-size: 13px;
    background-color: #FFFFFF;
    color:#FF993C ;
    
    font-weight: 700;
    
    line-height: 26px;

    position: relative;
    width: 80px;
    height: 30px;
    left: 79%;
    top:-32px;

    border: 2px solid #FF993C;
    border-radius: 8px;
    cursor: pointer;
}
.add-product{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:5px;
    padding: 4px 5px;
    font-size: 13px;
    background-color: #FFFFFF;
    color:#FF993C ;
    
    font-weight: 700;
    
    line-height: 26px;

    position: relative;
    width: 27%;
    height: 5.5%;
    left: 35%;

    border: 2px solid #FF993C;
    border-radius: 8px;
}
.add-product:hover{
    background-color: #FF993C;
    color: #FFFFFF;
    border: 2.5px solid #FF993C;
}
.ipt-color-hex{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width:55px;
    height:30px;
    margin:1px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.ipt-color-hex::-webkit-color-swatch{
    border-radius: 8px;
    border: none;
}
.ipt-color-hex::-moz-color-swatch{
    border-radius: 8px;
    border:none;
}