.product-list{
  display: flex;
  flex-wrap: wrap;
}
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;

    border:0px;
    position: relative;
    width: 30%;
    height: 24px;
    left: 1.5%;
    top: 12px;

    font-size: 15px;
    background-color: #F7F7F8;
    border-radius: 8px;
}
/* buttons */
.filter-btn{
    box-sizing: border-box;

    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 16px;
    gap: 10px;

    position: absolute;
    width: 5%;
    height: 32px;
    left: 76%;
    top: 15px;

    background-color: #FFFFFF;
    font-size: 12px;
    color: #FF993C;
    border: 1px solid #FF993C;
    border-radius: 6px;
    cursor: pointer;
}
.update-product-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap:2px;

  width:80%;
  height: 22px;

  background: none;
  border: 0px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;

  flex: none;
  order: 1;
  flex-grow: 0;
  color: #76bd85;
  position: relative;
  top: -90px;
  left: 450px;
  cursor: pointer;

}
.remove-product-btn{
  justify-content: center;
  align-items: center;
  padding: 0px;

  height: 22px;

  background: none;
  border: 0px;
  font-size: 12px;
  font-weight: 600;
  color: #76bd85;
  position: relative;
  top: -112px;
  left: 940px;
}
.inner{
  display: inline-block;
}

/* card */
.owner-card {
  position: relative;
  top: 100px;
  left: 10%;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 10px;
  text-align: center;
  font-family: arial;
}

.owner-price {
  color: grey;
  font-size: 22px;
}

.owner-card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: #76bd85;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.owner-card button:hover {
  opacity: 0.7;
}

/* colors */
.owner-product-colors{
  width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.owner-show-color{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width:14px;
    height:14px;
    margin:2px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.owner-show-color::-webkit-color-swatch{
    border-radius: 8px;
    border: none;
}
.owner-show-color::-moz-color-swatch{
    border-radius: 8px;
    border:none;
}

/* description */
.owner-product-description{
  width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*reset*/
* {
  margin: 0;
  padding: 0;
}

/*product info */

.owner-product-name {
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  margin-top: 0px;
  display: inline-block;
  width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.left {
  content: "";
  height: 100px;
  width: 85px;
  display: flex;
  align-items: center;
  background-color: #254e24;
  margin-left: 23px;
  position: absolute;
  z-index: 5;
}

.product-info {
  position: absolute;
  margin-left: 61.25px;
  height: 98.5px;
  width: 90%;
  z-index: 2.5;
}
