* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
.customer-container {
  margin-left: 8px;
}
.larger-container {
  margin-top: auto;
}
.nav-bar {
    display: flex;
}
.search-bar {
  flex            : 1;
  display         : flex;
  height          : 40px;
  background-color: rgb(245, 245, 245);
  border-radius   : 2px;
  padding: 5px;
}
#search {
    justify-content: right;
    border: none;
    margin-left: 40px;
    background: none;
    font-size: 20px;
}
#searchbar__input {
  outline: none;
  border-bottom: #41612c solid 2px;
  padding-right: 0px;
  font-size: 15px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  margin-top: 0px;
  justify-content: space-between;  
  margin-right: 0px;
  margin-left: 280px;
}
.product-card {
  position: relative;
  top: 10px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 260px;
  margin: 10px ;
  text-align: center;
  font-family: arial;
  cursor: pointer;
} 
.product-card:hover {
  box-shadow: 0 1px 20px 0 #c8b88a;
}
.product-card h1 {
  color: #41612c;
  font-weight: bold;
  font-size: 22px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 5px;
  display: inline-block;
  width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.product-card p {
  font-size: 13px;
  color: #bbb;
}
.product-pic {
  width: 260px;
  height: 360px;
}
.product-colors {
  width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product-colors span {
  width: 14px;
  height: 14px;
  margin: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.blue {
  background: #7ed6df;
}
.green {
  background: #badc58;
}
.yellow {
  background: #f9ca24;
}
.rose {
  background: #ff7979;
}

.product-colors .active:after {
  content: "";
  width: 22px;
  height: 22px;
  border: 2px solid #8888;
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
  left: -4px;
  top: -4px;
}
.product-info {
  display: flex;
  align-items:flex-end;
}
.product-price {
  color: #476930;
  font-size: 22px;
}
.product-button {
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-top: 8px;
  color: #76a136;
  border: 2px solid;
  outline: none;
  padding: 5px 70px;
  background: none;
  border-radius: 20px;
  transition: 0.4s linear;
  display: block;
  font-size: 17px;
  position: relative;
}
.product-button:hover {
  transform: scale(1.06);
}
.side-bar {
  flex-direction: column;
  width: 200px;
}

/* Product Details Styling */
.detail-container {
  margin-top: 60px;
}
.detail-wrapper {
  padding: 50px;
  display: flex;
}
.detail-img-container {
  flex: 1;
}
.detail-image {
  width: 90%;
  height: 100vh;
  object-fit: cover;
  position: relative;
  left: 50px;
}
.detail-info-container {
  flex: 1;
  padding: 0px 50px;
}
.detail-title {
  font-weight: 500;
  color: #476930;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
}
.detail-desc {
  margin: 20px 0px;
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
}
.detail-price {
  font-weight: 100;
  font-size: 40px;
  color: #597d35;
}
.detail-filter-container {
  width: 50%;
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
}
.detail-filter {
  display: flex;
  align-items: center;
}
.detail-filter-title {
  font-size: 20px;
  font-weight: 200;
}
.detail-filter-color {

}
.detail-filter-size {
  margin-left: 10px;
  padding: 5px 8px;
  border:solid 2px#597d35;
  border-radius: 8px;
  cursor: pointer;
}
.detail-filter-size:hover {
  background-color: #ddd5bf;
}
.detail-add-container {
  width: 85%;
  margin: 20px 0px;
  display: flex;
  /* align-items: left; */
  justify-content: space-between;
  gap: 20px;
}
.detail-amount-container {
  display: flex;
  margin-left: 0px;
}
.detail-input {
  width: 80px;
  height: 40px;
  border: 2px solid #597d35;
  display: flex;
  align-items: center;
  text-align: center;
  border-left: none;
  border-right: none;
}
.detail-button {
  padding: 0px 2px;
  border: 2px solid #597d35;
  background-color: white;
  cursor: pointer;
  height: 40px;
  margin-top: 5px;
}
.detail-button :hover {
  background-color: #ddd5bf;
}
.detail-add-cart-btn {
  padding: 8px 20px;
  border: 2px solid #597d35;
  background-color: white;
  cursor: pointer;
  font-weight: 500;
  margin-top: 5px;
}
.detail-add-cart-btn:hover {
  background-color: #ddd5bf;
}
