* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
.customer-container {
  margin-left: 8px;
}
.larger-container {
  margin-top: auto;
}
.nav-bar {
    display: flex;
}
#search {
    justify-content: right;
    border: none;
    background: none;
    font-size: 15px;
}
#searchbar__input {
  outline: none;
  border-bottom: #41612c solid 2px;
  padding-right: 8px;
  font-size: 15px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  margin-top: 0px;
  justify-content: space-between;  
}
.product-card {
  position: relative;
  top: 10px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 260px;
  margin: 10px ;
  text-align: center;
  font-family: arial;
  cursor: pointer;
} 
.product-card:hover {
  box-shadow: 0 1px 20px 0 #c8b88a;
}
.product-card h1 {
  color: #41612c;
  font-weight: bold;
  font-size: 22px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 5px;
  display: inline-block;
  width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.product-card p {
  font-size: 13px;
  color: #bbb;
}
.product-pic {
  width: 260px;
  height: 360px;
}
.product-colors {
  width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product-colors span {
  width: 14px;
  height: 14px;
  margin: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.blue {
  background: #7ed6df;
}
.green {
  background: #badc58;
}
.yellow {
  background: #f9ca24;
}
.rose {
  background: #ff7979;
}

.product-colors .active:after {
  content: "";
  width: 22px;
  height: 22px;
  border: 2px solid #8888;
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
  left: -4px;
  top: -4px;
}
.product-info {
  display: flex;
  align-items:flex-end;
}
.product-price {
  color: #476930;
  font-size: 22px;
}
.product-button {
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-top: 8px;
  color: #76a136;
  border: 2px solid;
  outline: none;
  padding: 5px 70px;
  background: none;
  border-radius: 20px;
  transition: 0.4s linear;
  display: block;
  font-size: 17px;
  position: relative;
}
.product-button:hover {
  transform: scale(1.06);
}
.side-bar {
  flex-direction: column;
  width: 200px;
}