.FilterContainer {
    width: 30px;
    margin-left: 20px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.Filter {
    display: flex;
    align-items: left;
    flex-direction: column;
}
.Color-bar {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
h4 {
    color: #476930;
    font-weight: 600;
}