
.update-popup{
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    position: fixed;
    width:60%;
    height: 80%;
    top: -5%;
    left: 20%;
    margin: auto;
    margin-top: 10%;
  
    background: linear-gradient(135deg, #ffffff, #ffffff);
    border: 0px;
    box-shadow: 0px 8px 8px 500px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    overflow:auto;
    overflow-x: hidden;
    z-index: 10;
}
.header-update{
    position: relative;
    left:300px;
}
/*buttons*/
.cancel{
    position: relative;
    top: 10px;
    left: 30%;
    box-sizing: border-box;

    justify-content: center;
    align-items: center;
    padding: 5px 5px 5px 5px;
    margin: 0px 2px 5px 0px;
    gap: 10px;
    font-weight: 600;
    color: #476930;
    width: 80px;
    height: 35px;
    font-size: 15px;
    border: 2.5px solid #476930;
    border-radius: 8px;
    background-color: #FFFFFF;

  }
.cancel:hover{
    background-color: #476930;
    color: #FFFFFF;
    border: 2.5px solid #476930;
}
.update-product{
    box-sizing: border-box;
    position: relative;
    top: 10px;
    left: 33%;
    justify-content: center;
    align-items: center;
    padding: 5px 5px 5px 5px;
    gap: 10px;
    font-weight: 600;
    color: #476930;
    width: 80px;
    height: 35px;
    font-size: 15px;
    border: 2.5px solid #476930;
    border-radius: 8px;
    background-color: #FFFFFF;

  }
.update-product:hover{
    background-color: #476930;
    color: #FFFFFF;
    border: 2.5px solid #476930;
}

/*sizes*/
.udt-sizes{
    width: 40px;
}
.lbl-update-sizes{
    position: relative;
    top: -30px;
    left: 20px;
}

/*description*/
.update-ipt-description{
    left:42px;
    height: 100px;
    width: 480px;
}