@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
body {
  background-color: #fcfbfa;
}